@import url('https://fonts.googleapis.com/css?family=Comic+Neue&display=swap');

html {
    font-size: 16px;
    background-color: #7cd0fe;
    background-image: url(../assets/background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

* {
    font-family: 'Comic Neue', cursive;
}

.logo {
    width: 350px;
    max-width: 100%;
    margin: 0 auto;
    display: block;
}

.league_table_wrapper {
    margin : 0 auto;
    width: 800px;
    max-width: 100%;
    margin-top: 2rem;

    h1 {
        text-align: center;
        text-transform: uppercase;
        color: white;
    }

    .reset_season {
        padding: .5rem;
        background: #3e7dca;
        width: 94px;
        border-top-right-radius: 20px;
        color: white;
        cursor: pointer;

        &:hover {
            color: black;
            background-color: #FFCB05;
        }
    }

    .league_table_inner {
        width: 100%;
        margin-bottom: 100px;

        .league_table_inner_header {
            background-color: #FFCB05;
            color: black;
            font-weight: bold;
        }

        .league_table_inner_body {
            background-color: #003A70;
            color: white;
        }

        .league_table_inner_header {
            div { cursor: default !important; }
        }

        .league_table_inner_header, .league_table_inner_body_row {
            display: flex;

            div, .add_row {
                border: solid 1px transparent;
                padding: .5rem;
                flex: 1;
                cursor: pointer;
            }

            input {
                background-color: transparent;
                color: white;
                font-size: 1rem;
                padding: 0;
                border: 0;
                width: 100%;
                outline: none;
            }

            .add_row {
                text-align: center;
                background-color: #3D7DCA;
                color: white;
                cursor: pointer;

                &:hover {
                    color: #003A70;
                    border: solid 1px #003A70;
                    border-top: none;
                    transition: all .3s ease-out;
                }
            }

            .league_table_inner_body_row_delete {
                cursor: pointer;

                &:hover {
                    color: red;
                }
            }
        }

        .league_table_inner_body_row {
            div:hover:not(.league_table_inner_body_row_delete):not(.add_row) {
                border-color: white;
            }
        }
    }
}

.modal_wrapper {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: rgba(0, 0, 0, .35);
    top: 0;
    left: 0;
    opacity: 0;
    animation: fadeIn .3s;
    animation-fill-mode: forwards;

    .modal_inner {
        width: 300px;
        margin: 0 auto;
        top: 30vh;
        position: relative;
        background: #FFCB05;
        padding: 1.5rem;
        border: solid 2px white;

        &.new_season {
            width: 400px;
        }

        .season_end_date_wrapper {
            margin-bottom: 1rem;

            * {
                display: block;
            }

            label {
                margin-bottom: .5rem;
            }

            input {
                width: 50%;
                padding: .2rem;
                font-size: 1rem;
            }
        }

        .modal_footer {
            button {
                border-radius: 0;
                width: 50px;
                padding: .3rem;
                border: 0;
                margin-right: .5rem;
                cursor: pointer;

                &:hover {
                    background: #3D7DCA;
                    color: white;
                }

                &:hover:disabled {
                    background-color: rgb(177, 177, 177);;
                }
            }
        }
    }
}

.white_border {
    border-color: white !important;
}

.season_end_countdown {
    margin: 0 auto;
    display: block;
    text-align: center;
    margin: 0 auto 2rem auto;
    color: #ffcb09;
    background: #013a6f;
    padding: .5rem;
    max-width: 500px;
    font-size: 1rem;
    border: solid 1px #ffca00;
}

.loader {
    width: 100px;
    right: 0;
    left: 0;
    margin: 0 auto;
    display: block;
    top: calc(50vh - 100px);
    position: absolute;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}