@import url('https://fonts.googleapis.com/css?family=Comic+Neue&display=swap');

html {
    font-size: 16px;
    background-color: #7cd0fe;
    background-image: url(../assets/background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

* {
    font-family: 'Comic Neue', cursive;
}

.logo {
    width: 350px;
    margin: 0 auto;
    display: block;
}

.league_table_wrapper {
    margin : 0 auto;
    width: 800px;
    max-width: 100%;
    margin-top: 2rem;

    h1 {
        text-align: center;
        text-transform: uppercase;
        color: white;
    }

    .league_table_inner {
        width: 100%;
        margin-bottom: 100px;

        .league_table_inner_header {
            background-color: #FFCB05;
            color: black;
            font-weight: bold;
        }

        .league_table_inner_body {
            background-color: #003A70;
            color: white;
        }

        .league_table_inner_header, .league_table_inner_body_row {
            display: flex;

            div, .add_row {
                padding: .5rem;
                flex: 1;
                cursor: pointer;
            }

            input {
                background-color: transparent;
                color: white;
                font-size: 1rem;
                padding: 0;
                border: 0;
                width: 100%;
                outline: none;
            }

            .add_row {
                text-align: center;
                background-color: #3D7DCA;
                color: white;
                cursor: pointer;

                &:hover {
                    color: #003A70;
                    border: solid 1px #003A70;
                    border-top: none;
                    transition: all .3s ease-out;
                }
            }

            .league_table_inner_body_row_delete {
                cursor: pointer;

                &:hover {
                    color: red;
                }
            }
        }
    }
}